# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
.env/

# PyCharm project files
.idea/

# Logs
*.log

# Directory configuration file
directory_config.yaml

# macOS files
.DS_Store